@import '../css/mixins.scss';

html {
    --background: #8793a0;
    --background_2: #fff;
    --text: #111;
    --text_2: #252525;
    --gray: #6a6a6a;
    --gray_2: #bbb;
    --primary: #006fff;
    --primary_2: #197dff;
    --secondary: #1c1c1c;
    --bg-opacity: 90%;
    --white: #fafbfc;
    --header-height: 4em;
    --max-content-width: 900px;
    --image-invert-rate: 0%;
}

html[data-theme='dark'] {
    --background: #0a0a0a;
    --background_2: #181818;
    --text: #f3f3f3;
    --text_2: #cdcdcd;
    --gray: #999;
    --gray_2: #555;
    --primary: #006fff;
    --primary_2: #197dff;
    --secondary: #fff;
    --image-invert-rate: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100vw;
    padding: 0.75em 0;
}

.hero-section {
    min-height: calc(580px - (4em + var(--header-height)));
    height: calc(100vh - (4em + var(--header-height)));
    max-width: 900px;
    width: 100vw;
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.75em;
    box-sizing: border-box;
}

.list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    row-gap: 2em;
    padding: 0;

    @include media-mobile {
        row-gap: 0;
        column-gap: 0;
    }

    li {
        border-left: dashed 1px var(--gray);
        padding: 0 2em;

        @include media-mobile {
            width: 100%;
            text-align: center;
            min-width: 25%;
            padding: 0 1em;
            box-sizing: border-box;
        }

        &:first-of-type {
            border-left: none;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.column_mobile {
    @include media-mobile {
        flex-direction: column;
    }
}

.greetings {
    color: var(--gray);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.75em 2em;
    background-color: color-mix(in lab, transparent var(--bg-opacity), var(--text));
    border-radius: 4em;
    margin: 0;

    .hi {
        animation: hi 1.5s linear -.5s infinite;
        display: inline-block;
        transform-origin: 70% 70%;
        position: relative;
    }
}

.slogan {
    color: var(--text);
    font-size: 4.2em;
    font-weight: 900;
    text-align: center;
    margin: 0.75em 0;

    @include media-mobile {
        font-size: 3em;
        line-height: 1.25em;
    }

    span {
        color: var(--primary);
    }
}

.text {
    line-height: 1.5em;
}

.small-text {
    font-size: .81rem;
    line-height: 1em;
    color: var(--gray);
}

.count {
    font-weight: 700;
    border-radius: 0.75rem;
    color: var(--gray);
    padding: 0.25em 0.75em;
    line-height: 1.5em;
    background-color: color-mix(in lab, transparent var(--bg-opacity), var(--text));
}

.title {
    color: var(--text);
    font-weight: 900;
    font-size: 2.5rem;

    &:after {
        content: ".";
        position: absolute;
        color: var(--primary);
    }
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    font-weight: 600;
    padding: 1em 2.5em;
    border-radius: 2em;
    text-decoration: none;
    color: var(--text);
    background-color: color-mix(in lab, transparent var(--bg-opacity), var(--text));
    cursor: pointer;
    transition: transform ease-in-out 300ms;

    span {
        line-height: 0.90em;
        margin-left: 0.5em;
    }

    img {
        filter: invert(var(--image-invert-rate));
    }

    &:hover {
        transform: scale(1.05);
    }

    &-primary {
        color: var(--white);
        background-color: var(--primary);

        img {
            filter: invert(100);
        }
    }

    &-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 2.25em;
        height: 2.25em;
        padding: 0;
        border-radius: 0.5em;
        background-color: color-mix(in lab, transparent 0, var(--text));
        transition: all ease-in-out 300ms;

        &:hover {
            background-color: color-mix(in lab, transparent var(--bg-opacity), var(--text));
            transform: scale(1);
        }
    }

}



@keyframes hi {
    0% {
        transform: rotate(0)
    }

    10% {
        transform: rotate(14deg)
    }

    20% {
        transform: rotate(-8deg)
    }

    30% {
        transform: rotate(14deg)
    }

    40% {
        transform: rotate(-4deg)
    }

    50% {
        transform: rotate(10deg)
    }

    60% {
        transform: rotate(0)
    }

    to {
        transform: rotate(0)
    }
}

@mixin media-landscape {
    @media (orientation: landscape) {
        @content;
    }
}